h1 {
  text-align: center;
  margin: auto;
  color: #ffffff;
  background: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  color: #ffffff;
  background: #ffffff;
}
h3 {
  text-align: center;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}
.square {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}
.win {
  text-align: center;
  margin: auto;
}

.square:nth-child(1) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.square:nth-child(2) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.square:nth-child(3) {
  border-bottom: 1px solid black;
}

.square:nth-child(4) {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.square:nth-child(5) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.square:nth-child(6) {
  border-bottom: 1px solid black;
}

.square:nth-child(7) {
  border-right: 1px solid black;
}

.square:nth-child(8) {
  border-right: 1px solid black;
}
.win {
  color: #090909;
  background: #005eff68;
  text-shadow: -5px 5px 0px #f8e804, -10px 10px 0px #039603,
    -15px 15px 0px #fa0101;
  font-size: 50px;
  font-weight: 900;
}
.btn-reset {
  margin: 20px auto;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(75deg, #0066cc 0%, #00a3cc 100%);
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 50px;
  transition: 1624ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-reset:hover {
  transition: 1624ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(75deg, #0066cc 0%, #00a3cc 100%);
  color: #f0f4f7;
  border: solid 2px #0066cc;
}

.player-markers {
  display: flex;
  justify-content: space-between;
}

.marker {
  display: flex;
  flex-direction: column;
}

.marker label {
  margin-bottom: 10px;
}

.container {
  padding: 2rem;
}

footer {
  display: flex;
  justify-content: center;
}
